.product-container{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  flex-direction: row;
}
.image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.image{
  height: 300px;
  width: 400px;
}
.seller-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
}
.seller-image{
  height: 100px;
  width: 100px;
  margin-left: 25px;
  margin-top: 25px;
}
.seller-info {
  display: flex;
  flex-direction: column;
  
}